{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {{ parent() }}


        {% if app.user.roles[0]=="ROLE_ADMIN" %}
            <a href="{{ path('easyadmin') }}">Panel Administracyjny</a>
        {% endif %}



        </div>


    </div>


{% endblock %}